name: workflow
on:
    workflow_dispatch:
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: step1
              run: echo "This is step 1"
            - name: step2
              run: echo "This is step 2"
            - name: setup node
              uses: actions/setup-node@v3
              with:
                node-version: '20'

