name: workflow
on:
  push:
    branches:
      - main
jobs:
    example-job:
      runs-on: ubuntu-latest
      steps:
        - name: print welcom message
          run: echo "welcom for my first workflow"
        - name: checkout repo
          uses: actions/checkout@v6.0.2 
        - name: list repos
          run: ls -la
