on:
  workflow_dispatch:
    inputs:
      environment:
        description: "choose environment"
        required: true
        default: "stagging"
        type: choice
        options:
          - stagging
          - dev
          - production
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "deploy app"
        run: echo "deploying the app to ${{ inputs.environment }}"
